<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="TreeWalker">

    <!-- Dấu { phải cùng dòng với method -->
    <module name="LeftCurly"/>

    <!-- Phải có space trước { -->
    <module name="WhitespaceAround"/>

    <!-- Tên method phải viết thường chữ đầu -->
    <module name="MethodName"/>

    <!-- Không dùng System.out.println -->
    <module name="Regexp">
      <property name="format" value="System\.out\.println"/>
      <property name="illegalPattern" value="true"/>
      <property name="message" value="Dùng Logger thay vì System.out.println"/>
    </module>

  </module>
</module>